<style type="text/css">
	.custom-radio{
		display: inline-table;
	}
</style>
<div class="form-group  radio-field span-full" data-field-name="template_id" id="Form-field-Post-template_id-group">
	<label for="Form-field-Post-template_id">Шаблон вывода в сетке статей</label>
	<div></div>
    <div class="radio custom-radio">
        <input id="1eb08782da8d88bd6a893e09b60b635c" name="Post[template_id]" value="1" type="radio" checked="checked">
        <label for="1eb08782da8d88bd6a893e09b60b635c">
            <img src="/storage/app/media/post-type-1.png" width="100px">           
        </label>
    </div>
    <div class="radio custom-radio">
    	<input id="6d5071eb5310597539a82216e93df380" name="Post[template_id]" value="2" type="radio">
    	<label for="6d5071eb5310597539a82216e93df380">
        	<img src="/storage/app/media/post-type-2.png" width="100px">       
        </label>
    </div>
    <div class="radio custom-radio">
    	<input id="6d5071eb5310597539a82216e93df381" name="Post[template_id]" value="3" type="radio">
    	<label for="6d5071eb5310597539a82216e93df381">
        	<img src="/storage/app/media/post-type-3.png" width="100px">       
        </label>
    </div>
    <div class="radio custom-radio">
    	<input id="6d5071eb5310597539a82216e93df382" name="Post[template_id]" value="4" type="radio">
    	<label for="6d5071eb5310597539a82216e93df382">
        	<img src="/storage/app/media/post-type-4.png" width="100px">       
        </label>
    </div>
</div>