{% for post in posts %}
	{% if loop.index in [1,2,3,5,7] %}
	    <div class="col-lg-4 col-md-6">
	    	<div class="card h-100">
				<div class="single-post post-style-1">
	        		{% partial 'blog/post' post=post %}
	        	</div>
	        </div>
	    </div>
	{% elseif loop.index in [4,12] %}
		<div class="col-lg-8 col-md-12">
			<div class="card h-100">
				<div class="single-post post-style-2">
					{% partial 'blog/post-big' post=post %}
				</div>
			</div>
		</div>
	{% elseif loop.index in [6] %}
		<div class="col-lg-4 col-md-6">
			<div class="card h-100">
				<div class="single-post post-style-2 post-style-3">
					{% partial 'blog/post-without-image' post=post %}
				</div>
			</div>
		</div>
	{% elseif loop.index in [8] %}
		<div class="col-lg-4 col-md-6">
			<div class="card h-100">
				{% for post in posts %}
					{% if loop.index in [8] %}
						<div class="single-post post-style-4">
							{% partial 'blog/post-short' post=post %}
						</div>
					{% elseif loop.index in [9] %}
						<div class="single-post">
							{% partial 'blog/post-short' post=post %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% elseif loop.index in [10] %}
		<div class="col-lg-4 col-md-6">
			<div class="card h-100">
				{% for post in posts %}
					{% if loop.index in [10] %}
						<div class="single-post post-style-4">
							{% partial 'blog/post-short' post=post %}
						</div>
					{% elseif loop.index in [11] %}
						<div class="single-post">
							{% partial 'blog/post-short' post=post %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endfor %}