[session]
security = "all"
==

<div class="container-fluid position-relative no-side-padding">
    <a href="{{ 'home'|page }}" class="logo"><img src="{{ this.theme.logo|media }}" alt="Logo Image"></a>

    <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

    <ul class="main-menu visible-on-click" id="main-menu">
        <li><a href="{{ 'home'|page }}">Главная</a></li>
        <li><a href="{{ 'blog/categories'|page }}">Категории</a></li>
        <li><a href="{{ 'discussed'|page }}">Обсуждаемое</a></li>
        {% if user %}
            <li class="user-block-mobile">
                <div class="user-account-logo">
                    <img src="{{user.getAvatarThumb('300')}}" title="{{ user.name }} {{ user.surname }}">
                </div>
                <div class="user-account-info">
                    {{ user.name }} 
                </div>
            </li>
            <li class="user-block-mobile-login"><a data-request="session::onLogout" data-request-data="redirect: '/'" href="#">Выйти</a></li>
        {% else %}
            <li class="user-block-mobile-login"><a class="user-login-button" data-toggle="modal" data-target="#login" href="#">Войти</a></li>
        {% endif %}
    </ul>

    
    <div class="user-block">
        {% if user %}
            <div class="user-account">
                <div class="user-account-logo">
                    <img src="{{user.getAvatarThumb('300')}}" title="{{ user.name }} {{ user.surname }}">
                </div>
                <div class="user-account-info">
                    {{ user.name }}&nbsp;|&nbsp;<a data-request="session::onLogout" data-request-data="redirect: '/'" href="#">Выйти</a>
                </div>
            </div>
        {% else %}
            <a class="user-login-button" data-toggle="modal" data-target="#login" href="#">Войти</a>
        {% endif %}
    </div>

    <div class="src-area">
        <form action="{{ 'search' | page }}" method="get">
            <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
            <input class="src-input" type="text" placeholder="Поиск" name="q" autocomplete="off">
        </form>
    </div>
</div>

