<meta charset="utf-8">
<title>{{ this.page.meta_title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="author" content="KEV-studio">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
<link href="{{ [
    '@framework.extras',
    'assets/less/vendor.less',
    'assets/ktv/common-css/bootstrap.css',
    'assets/ktv/common-css/ionicons.css'
]|theme }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
{% content 'analytic.htm' %}
{% styles %}
