title = "Welcome"
url = "/"
layout = "default"
meta_title = "Главная"
meta_description = "Главная"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 12
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
author = "{{ :author }}"

[resources]
js[] = "controls/auto-pager.js"
js[] = "../vendor/isotope/imagesloaded.js"
js[] = "../vendor/isotope/isotope.js"
js[] = "pages/home.js"
less[] = "pages/home.less"
==
<?php
public function onPagePosts()
{ 
    $this->blogPosts->setProperty('pageNumber', post('page'));
    $this->pageCycle();
}
function onStart()
{
    $this->addCss('assets/ktv/layout-1/css/styles.css');
    $this->addCss('assets/ktv/layout-1/css/responsive.css');
}
?>
==
<div class="slider" style="background-image: url('{{ this.theme.banner|media }}');"></div>
<section class="blog-area section">
    <div class="container">
        <div class="row" id="home-posts"> 
            {% partial 'home/posts' %}
        </div>
        
        {% if posts.lastPage != posts.currentPage%}
        <a class="load-more-btn" href="#" 
                data-attach-loading 
                data-control="auto-pager"
                data-request="onPagePosts"
                data-request-update="'home/posts': '@#home-posts'"
                data-current-page="1"
                data-last-page="{{ posts.lastPage }}"><b>ПОКАЗАТЬ ЕЩЕ</b></a>
        {% endif %}
        <!--<div class="row">
            <div
                class="text-center"
                data-control="auto-pager"
                data-request="onPagePosts"
                data-request-update="'home/posts': '@#home-posts'"
                data-current-page="1"
                data-last-page="{{ posts.lastPage }}">
                <a class="text-muted oc-loading">Fetching posts..</a>
            </div>
        </div>-->
    </div>
</section>