title = "Blog Category"
url = "/blog/category/:slug/:page?"
layout = "default"
description = "Viewing blog posts in a specific category."
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 12
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"

[resources]
js[] = "controls/auto-pager.js"
less[] = "pages/blog.less"
==
<?php
public function onPagePosts()
{ 
    $this->blogPosts->setProperty('pageNumber', post('page'));
    $this->pageCycle();
}
function onStart()
{
    $this->addCss('assets/ktv/category/css/styles.css');
    $this->addCss('assets/ktv/category/css/responsive.css');
}
function onEnd(){ 
	if ($this->category) {
        $this->page->meta_title = $this->category->meta_title;
        $this->page->meta_description = $this->category->meta_description;
        if ($this->category->meta_title == '')
            $this->page->meta_title = $this->category->name;
        if ($this->category->meta_description == '')
            $this->page->meta_title = $this->category->name;
    }
}
?>
==
<div class="slider display-table center-text" style="background-image: url('{{category.banner|media}}')">
	<h1 class="title display-table-cell"><b>{{ category.name }}</b></h1>
</div>
<section class="blog-area section">
	<div class="container">
		<div class="row" id="category-posts">
			{% partial 'blog/posts' posts=blogPosts.posts %}
		</div>
		
		{% if posts.lastPage != posts.currentPage%}
		<a class="load-more-btn" href="#" 
                data-attach-loading 
                data-control="auto-pager"
                data-request="onPagePosts"
                data-request-update="'blog/posts': '@#category-posts'"
                data-current-page="1"
                data-last-page="{{ posts.lastPage }}"><b>ПОКАЗАТЬ ЕЩЕ</b></a>
        {% endif %}
	</div>
</section>