title = "Blog Post"
url = "/post/:slug"
layout = "default"
description = "Viewing a single blog post"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[resources]
js[] = "controls/auto-pager.js"
less[] = "pages/blog.less"

[commentsPost]
pageNumber = "{{ :page }}"
postsPerPage = 3

[blogTags]
results = 5
direction = "desc"

[blogRelated]
slug = "{{ :slug }}"
results = 3
direction = "desc"
postPage = "blog/post"

[formSubscribe]
urlToUnsubscribe = "unsubscribe"
urlToProfile = "subscriber-profile"
geo = "disabled"
thanksMessage = "Спасибо за подписку!"
errorMessage = "Эл. адрес уже существует!"

[ssbuttonsssb]
js = 0
facebook = 1
twitter = 1
google+ = 0
tumblr = 0
pinterest = 1
pocket = 0
reddit = 0
linkedin = 0
wordpress = 0
pinboard = 0
email = 0
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "flat_web_icon_set_black"
==
<?php
function onEnd()
{
    if ($this->post) {
        $this->page->meta_title = $this->post->meta_title;
        $this->page->meta_description = $this->post->meta_description;
        if ($this->post->meta_title == '')
            $this->page->meta_title = $this->post->title;
        if ($this->post->meta_description == '')
            $this->page->meta_title = $this->post->title;
    }
    else {
        return Redirect::to($this->pageUrl('404'));
    }
}

function onStart()
{
    $this->addCss('assets/ktv/single-post-1/css/styles.css');
    $this->addCss('assets/ktv/single-post-1/css/responsive.css');
}

public function onPageComments()
{ 
    $this->commentsPost->setProperty('pageNumber', post('page'));
    $this->pageCycle();
}
?>
==
{% set image = post.featured_images.first %}
{% set nextPost = blogPost.nextPost %}
{% set lastPost = blogPost.previousPost %}

{% if post.categories.count %}
    {% for category in post.categories %}
        {% if loop.index == 1 %}
            <div class="slider">
                <div class="display-table  center-text">
                    <h1 class="title display-table-cell" style="background-image: url('{{category.banner|media}}')"><b>{{category.name}}</b></h1>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<section class="post-area section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 no-right-padding">
                <div class="main-post">
                    <div class="blog-post-inner">
                        <div class="post-info">
                            <div class="left-area">
                                <a class="avatar" href="{{'blog/author'|page({ slug: post.user_id })}}"><img src="{{ post.user.avatar.path }}" alt="{{ post.user.first_name }} {{ post.user.last_name }}"></a>
                            </div>
                            <div class="middle-area">
                                <a class="name" href="{{'blog/author'|page({ slug: post.user_id })}}"><b>{{ post.user.first_name }} {{ post.user.last_name }}</b></a>
                                <h6 class="date">{{ post.published_at|date('d.m.Y H:i') }}</h6>
                            </div>
                        </div>
                        <h3 class="title"><b>{{ post.title }}</b></h3>
                        <div class="post-body">{{ post.content_html|raw }}</div>

                        {% if blogTags %}
                            {% partial "blogTags::default" %}
                        {% endif %}
                    </div>
                    <div class="post-icons-area">
                        <ul class="post-icons">
                            <li><a href="#" class="like {{ (post.userlikes.count != 0) ? 'active' : '' }}" data-post-id="{{post.id}}"><i class="ion-heart"></i><span>{{post.likes.count}}</span></a></li>
                            <li><a href="#"><i class="ion-chatbubble"></i>{{post.comments.count}}</a></li>
                            <li><a href="#"><i class="ion-eye"></i>{{post.viewed}}</a></li>
                        </ul>
                        {% component 'ssbuttonsssb' %}
                        
                    </div>
                    <div class="post-footer post-info">
                        <div class="left-area">
                            <a class="avatar" href="#"><img src="{{ post.user.avatar.path }}" alt="{{ post.user.first_name }} {{ post.user.last_name }}"></a>
                        </div>
                        <div class="middle-area">
                            <a class="name" href="#"><b>{{ post.user.first_name }} {{ post.user.last_name }}</b></a>
                            <h6 class="date">{{ post.published_at|date('d.m.Y H:i') }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 no-left-padding">
                <div class="single-post info-area">
                    <div class="sidebar-area subscribe-area">
                        {% component 'formSubscribe' %}
                    </div>
                    <!--{% if all_tags %}
                        <div class="tag-area">
                            <h4 class="title"><b>Теги</b></h4>
                            <ul>
                                {% for tag in all_tags %}
                                    <li><a href="{{'blog/tag'|page({ slug: tag.name })}}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}-->
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    h2{
        margin-bottom: 25px;
        margin-top: 10px;
        font-size: 26px;
    }
</style>
<!--{% if related %}
<section class="recomended-area section">
    <div class="container">
        <div class="row">
            {% partial 'blog/posts' posts=related %}
        </div>
    </div>
</section>
{% endif %}-->
{% if blogRelated %}
    <section class="recomended-area section">
        <div class="container">
            <div class="row">
                {% partial 'blog/posts' posts=blogRelated.posts %}
            </div>
        </div>
    </section>
{% endif %}
{% partial "commentsPost::block" post=commentsPost post_id=post.id %}