<ul class="post-footer">
    <li><a href="#" class="like {{ (post.userlikes.count != 0) ? 'active' : '' }}" data-post-id="{{post.id}}"><i class="ion-heart"></i><span>{{post.likes.count}}</span></a></li>
    <li><a href="{{ post.url }}"><i class="ion-chatbubble"></i>{{post.comments.count}}</a></li>
    <li><a href="{{ post.url }}"><i class="ion-eye"></i>{{post.viewed}}</a></li>
</ul>