{% set image = post.featured_images.first %}
<div class="blog-image">
    <img src="{{post.image_g|media}}" alt="{{ post.title }}">
</div>
<a class="avatar" href="{{ post.url }}"><img src="{{ post.user.avatar.path }}" alt="{{ post.user.first_name }} {{ post.user.last_name }}"></a>
<div class="blog-info">
    <h4 class="title"><a href="{{ post.url }}"><b>{{ post.title }}</b></a></h4>
    {% partial 'blog/post-footer' post=post %}
</div>