{% if user %}
<div id="wrap-comment-form">
    <div class="comment-form" id="comment-form">
        <div id="cancel-comment-reply-link" style="display: none; text-align: right;">
            <a onclick="Comment.cancel()" rel="nofollow" title="Отмена" style="font-size: 26px">×</a>
        </div>
        <form>
            <div id="comment_flash_message"></div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" name="author" class="form-control" placeholder="Имя" value="{{ (user) ? user.name : '' }}">
                </div>
                <div class="col-sm-6">
                    <input type="email" aria-required="true" name="email" class="form-control"
                        placeholder="Email" aria-invalid="true"  value="{{ (user) ? user.email : '' }}">
                </div>
                <div class="col-sm-12">
                    <textarea id="comment-text" name="content" rows="2" class="text-area-messge form-control"
                        placeholder="Текст" aria-required="true" aria-invalid="false"></textarea >
                </div>
                <div class="col-sm-12">
                    <button class="submit-btn" type="submit" id="form-submit" onclick="Comment.saveButton(event)"><b>Отправить</b></button>
                </div>

                <input name="post_id" type="hidden" value="{{post}}">
            </div>
        </form>
    </div>
</div>
{% else %}
    <div id="wrap-comment-form">
        <p style="text-align: center; padding: 30px 0">Вы можете оставить свой комментарий. Для этого войдите в свою учетную запись.</p>
        <p style="text-align: center; font-size: 22px; margin-bottom: 20px"><a class="btn btn-primary" data-toggle="modal" data-target="#login" href="#">Войти</a></p>
    </div>
{% endif %}